{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container">
            <div class=" row mt-5">
                <div class)="col-sm-8 offset-sm-2">
                    <h1>Vos infos</h1>

                    <a class="navbar-brand" href="{{ path('accueil') }}">Accueil</a>

{#                    <ul>#}
{#                        {% for info in informations %}#}
{#                        <li>{{ info }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}

                    <table class="table table-light table-hover">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Annee</th>
                            <th>Nom image</th>
                            <th>Label</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ informations.disc_title }}</td>
                            <td>{{ informations.disc_year }}</td>
                            <td>{{ informations.disc_picture }}</td>
                            <td>{{ informations.label }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
